<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<%= link_to new_song_path do %>
  <i class="fa fa-plus-circle" aria-hidden="true"></i>New Song
<% end %>

  <div class = "row">
    <% @songs.each do |song| %>
     <div class="col-md-6">
        <div class = "well">
          <h2><%= link_to song.name, song %></h2>
          <h3 id="artist-name"><%= song.artist.name %></h3>
          <p>
            <% song.rating.to_i.times do %>
              <i class="fa fa-star yellow" aria-hidden="true"></i>
            <% end %>
            <% (10 - song.rating.to_i).times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          </p>
          
          <%= link_to edit_song_path(song) do %>
            <i class="fa fa-scissors" aria-hidden="true"></i>Edit
          <% end %>

          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
